@import "styles/colors";
@import "styles/variables";

.header {
    position: sticky;
    display: flex;
    height: 80px;
    width: 100%;
    top: 0;
    justify-content: center;
    background: #FFF;
    box-shadow: $gray-border 0px 2px 8px 0px;
    ;

    .header__wrapper {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $spacing-md;
        ;
    }

    .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 190px;
        height: 20px;
        color: $primary;
    }
}

.header__user {
    margin-left: auto;
    font-size: 14px;
    font-weight: bold;
}